<%= form_for :reading, url: readings_path do |f| %>
  <p>
    <%= f.label :title %> <br>
    <%=	 f.text_field :title %>
  </p>

  <p>
    <%=	 f.label :description  %><br>
    <%=	 f.text_area :description %>
  </p>

  <p>
    <%=	 f.label "Facebook Link"  %><br>
    <%=	 f.url_field :fb_link %>
  </p>

  <p>
    <%=	 f.label :date  %><br>
    <%=	 f.date_field :date %>
  </p>

  <p>
    <%=	 f.label :flyer  %><br>
    <%=	 f.file_field :flyer %>
  </p>

  <p>
    <%=	  f.submit %>
</p>
<% end %>
